<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.courseManagement.mapper.CourseReservationMapper">
    
    <resultMap type="CourseReservation" id="CourseReservationResult">
        <result property="reservationId"    column="reservation_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="trainerId"    column="trainer_id"    />
        <result property="reservationTime"    column="reservation_time"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="courseName"    column="course_name"    />
    </resultMap>

    <sql id="selectCourseReservationVo">
        select reservation_id, member_id, course_id, trainer_id, reservation_time, status, create_by, create_time, update_by, update_time, remark from course_reservation
    </sql>

<!--    <select id="selectCourseReservationList" parameterType="CourseReservation" resultMap="CourseReservationResult">-->
<!--        <include refid="selectCourseReservationVo"/>-->
<!--        <where>  -->
<!--            <if test="memberId != null "> and member_id = #{memberId}</if>-->
<!--            <if test="courseId != null "> and course_id = #{courseId}</if>-->
<!--            <if test="trainerId != null "> and trainer_id = #{trainerId}</if>-->
<!--            <if test="reservationTime != null "> and reservation_time = #{reservationTime}</if>-->
<!--            <if test="status != null  and status != ''"> and status = #{status}</if>-->
<!--        </where>-->
<!--    </select>-->
    <select id="selectCourseReservationList" parameterType="CourseReservation" resultMap="CourseReservationResult">
        SELECT
        cr.*,
        c.course_name,
        c.course_type,
        c.location,
        c.max_capacity,
        c.current_enrollment
        FROM course_reservation cr
        LEFT JOIN course c ON cr.course_id = c.course_id
        <where>
            <if test="memberId != null "> and cr.member_id = #{memberId}</if>
            <if test="courseId != null "> and cr.course_id = #{courseId}</if>
            <if test="trainerId != null "> and cr.trainer_id = #{trainerId}</if>
            <if test="reservationTime != null "> and cr.reservation_time = #{reservationTime}</if>
            <if test="status != null  and status != ''"> and cr.status = #{status}</if>
        </where>
    </select>


    <select id="selectCourseReservationByReservationId" parameterType="Long" resultMap="CourseReservationResult">
        <include refid="selectCourseReservationVo"/>
        where reservation_id = #{reservationId}
    </select>

    <select id="countReservationByTrainerId" parameterType="Long" resultType="Long">
        select count(*) from course_reservation where trainer_id = #{trainerId}
    </select>

    <insert id="insertCourseReservation" parameterType="CourseReservation" useGeneratedKeys="true" keyProperty="reservationId">
        insert into course_reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="trainerId != null">trainer_id,</if>
            <if test="reservationTime != null">reservation_time,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="trainerId != null">#{trainerId},</if>
            <if test="reservationTime != null">#{reservationTime},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCourseReservation" parameterType="CourseReservation">
        update course_reservation
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="trainerId != null">trainer_id = #{trainerId},</if>
            <if test="reservationTime != null">reservation_time = #{reservationTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where reservation_id = #{reservationId}
    </update>

    <delete id="deleteCourseReservationByReservationId" parameterType="Long">
        delete from course_reservation where reservation_id = #{reservationId}
    </delete>

    <delete id="deleteCourseReservationByReservationIds" parameterType="String">
        delete from course_reservation where reservation_id in 
        <foreach item="reservationId" collection="array" open="(" separator="," close=")">
            #{reservationId}
        </foreach>
    </delete>
</mapper>