<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.courseManagement.mapper.CourseOrderMapper">
    
    <resultMap type="CourseOrder" id="CourseOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="amount"    column="amount"    />
        <result property="paymentMethod"    column="payment_method"    />
        <result property="orderTime"    column="order_time"    />
        <result property="status"    column="status"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCourseOrderVo">
        select order_id, member_id, course_id, amount, payment_method, order_time, status, operator_id, create_by, create_time, update_by, update_time, remark from course_order
    </sql>

    <select id="selectCourseOrderList" parameterType="CourseOrder" resultMap="CourseOrderResult">
        <include refid="selectCourseOrderVo"/>
        <where>  
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="paymentMethod != null  and paymentMethod != ''"> and payment_method = #{paymentMethod}</if>
            <if test="orderTime != null "> and order_time = #{orderTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
        </where>
    </select>
    
    <select id="selectCourseOrderByOrderId" parameterType="Long" resultMap="CourseOrderResult">
        <include refid="selectCourseOrderVo"/>
        where order_id = #{orderId}
    </select>

    <select id="selectCourseOrderByCourseId" parameterType="Long" resultMap="CourseOrderResult">
        <include refid="selectCourseOrderVo"/>
        where course_id = #{courseId}
    </select>

    <insert id="insertCourseOrder" parameterType="CourseOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into course_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="amount != null">amount,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="status != null">status,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="status != null">#{status},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCourseOrder" parameterType="CourseOrder">
        update course_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="paymentMethod != null">payment_method = #{paymentMethod},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteCourseOrderByOrderId" parameterType="Long">
        delete from course_order where order_id = #{orderId}
    </delete>

    <delete id="deleteCourseOrderByOrderIds" parameterType="String">
        delete from course_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>